<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="vendor/autoload.php" failOnWarning="true" failOnNotice="true">
    <testsuites>
        <testsuite name="AppAttest">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
