<?xml version="1.0" encoding="utf-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    failOnWarning="true"
    failOnNotice="true"
    failOnRisky="true"
    failOnDeprecation="true"
    failOnPhpunitDeprecation="true"
>
    <php>
        <ini name="memory_limit" value="128M"/>
    </php>
    <testsuites>
        <testsuite name="AppAttest">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
